.scrollbar-none::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Martian";
    src: url("../public//fonts/MartianMono-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("../public//fonts/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("../public//fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}
